#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.games-container,
.movie-container,
.login-container {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  padding: 20px;
  background-color: white;
}

.game-list {
  padding: 10px;
  width: 100%;
  max-width: ;
}

.detail-container {
  margin: 0 auto;
  margin-top: 20vh;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  width: 80%;
}

.detail-container:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.6px 3px 8px;
  transition: all 0.3s ease-in-out;
}

.center {
  text-align: center;
}

.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-left::after {
  border-top: 1px solid #777 !important;
}
